useDynLib(optmatch)

export(fullmatch, pairmatch, makedist, matched, matchfailed, unmatched, maxControlsCap, minControlsCap, relaxinfo, stratumStructure)

S3method(print, optmatch)
S3method(summary, optmatch)
S3method(Ops, optmatch.dlist)
S3method(abs, optmatch.dlist)

